main {
  display: flex;
}

.wire-frame {
  background-color: blanchedalmond;
  flex: 7;
}

aside {
  height: 100vh;
  flex: 3;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 1rem;

  background-color: aquamarine;

  .chats {
    flex: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: cornflowerblue;
    overflow-y: scroll;
  }

  form {
    --padding: 1rem 1rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;

    display: flex;

    input {
      padding: var(--padding);
      width: 75%;
      border: none;
      font-size: 1.1rem;

      &:focus {
        outline: none;
      }
    }

    button {
      border: none;
      background: white;
      cursor: pointer;
      width: 25%;
      font-size: 1.05rem;

      svg {
        transform: translateY(15%);
      }

      &:focus {
        outline: 1px solid rgb(119, 119, 119);
      }
    }
  }
}
