// main.chat-room {
//   background-color: blue;
// }

.chat-room {
  --aside-bgcol: rgb(240, 240, 240);
  padding: 0.5rem 10vw;
  width: 100vw !important;

  .close-chat {
    display: none;
  }

  .join-back {
    display: block;
  }
}

aside {
  --aside-bgcol: rgb(238, 239, 241);

  transform: translateX(100%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  height: 100vh;
  width: 350px;

  &.open {
    transform: translateX(0);
    opacity: 1;
  }

  .close-chat {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;

    &:hover {
      font-size: 1.2rem;
      transform: translate(-10%, 15%);
    }
  }

  // background-color: aquamarine;

  .chats {
    flex: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--aside-bgcol);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(47deg, #a3a3a3 33%, #b5b5b5 45%);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(13deg, #a3a3a3 0%, #ababab 0%);
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 10px;
      box-shadow: inset 7px 10px 12px 0px #f0f0f0;
    }
  }

  form {
    --padding: 1rem 1rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;

    display: flex;

    input {
      padding: var(--padding);
      width: 75%;
      border: none;
      font-size: 1.1rem;
      background: var(--aside-bgcol);

      &:focus {
        outline: none;
        background-color: rgb(229, 243, 255);
      }
    }

    button {
      border: none;
      cursor: pointer;
      width: 25%;
      font-size: 1.05rem;
      transition: all 0.2s ease-in-out;

      svg {
        transform: translateY(15%);
      }

      &:focus {
        outline: 2px solid rgb(119, 119, 119);
        background-color: #edfeff;
      }

      &:hover {
        background-color: #f7ffff;
      }

      &.join-back {
        display: none;
      }
    }
  }
}

.message {
  --img-size: 40px;
  display: flex;
  padding: 0.8rem;
  width: 100%;
  margin-bottom: 0.5rem;
  img {
    height: var(--img-size);
    width: var(--img-size);
    border-radius: 50%;
  }

  .profile {
    margin-left: 0.5rem;
    transform: translateY(-10%);

    .compose {
      font-size: 0.9rem;
      margin-bottom: 0.1rem;
      display: flex;
      align-items: center;
      // background-color: cadetblue;
      .date {
        color: rgb(66, 66, 66);
        font-size: 0.5rem;
        margin-left: 0.5rem;
      }
    }
  }
}
